@import '../styles/_library';
@import '../pages/index.module';

$width: 9rem !default;

.navbarWrapper {
  height: 100%;
  left: -$width * 2;
  position: fixed;
  z-index: 1;
  background-image: url("../public/nightCitybkgd.gif");
  background-size: 1000px;
}

.navbar {
  background-color: $base-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: $width * 2;
  z-index: 2;
background-image: url("../public/nightCitybkgd.gif");
background-size: 1000px;

  //Modify the font properties
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.choice {
    z-index: 3;
    padding: 1rem;
    display: flex;
    padding-left: $width + 1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  
    &:hover {
      background-image: url("../public/redIco.png");
      background-size: 90px;
      border-radius: 30px;
      color: rgb(255, 255, 255);
      opacity: 0.8;
    }
  }

.button {
  margin-left: $width * 2;
  height: 5rem;
  width: 1.5rem;
  position: fixed;
  top: 0%;
  background-color: $secondary-color;
  outline-style: none;
  border-right: 5px solid $border-color;
  border-top: 5px solid $border-color;
  border-bottom: 5px solid $border-color;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: white;
    border-color: white;
  }
}

.buttonText {
  border: none;
  font-size: 1rem;
  color: white;
}

.inputLeft {
  margin: 0.5rem 0 0.5rem;
  border: none;
  width: 10rem;
  height: 1.75rem;
  font-size: 14px;
  font-family: inherit;
  border: 3.5px solid $border-color;
  border-radius: 3px;
}

.inputRight {
  @extend .inputLeft;
  margin: 0.5rem 3rem 0.5rem;
}

.email {
  @extend .inputLeft;
  width: 23rem;
}

.message {
  @extend .email;
  height: 4rem;
  width: 23rem;
}

.register {
  // @extend .title;
  display: flex;
  background-color: #000000;
  flex-direction: column;
  //color: #02b6f0;
  color: white;
  // width: 65rem;
  // margin-left: 10rem;
  // margin: 3rem 11rem 3rem;
  // border: 4px solid;
  width: 100%;
  border-image-slice: 2;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  // position: relative;
}

.form {
  margin: 2rem $full-width 0;
  display: flex;
  flex-direction: column;
}

.formGroup1 {
  display: inline-block;
}

.submitButton {
  @extend .highlight;
  background-color: $border-color;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 7rem;
  height: 1.5rem;
  font-family: inherit;
  margin: 0.5rem 0 0.5rem;
}

.box .time tr:hover {
  background-color: $border-color;
}

// .table {
//     @extend .box;
//     border-collapse: collapse;
//     border-radius: 1em;
// }

.time {
  @extend .box;
}

// .titleText {
//     margin: 0 0 1rem;
// }

.titleRegistration {
  @extend .titleText;
  margin: 0 0 1rem;
}

.box {
  @extend .highlight;
  padding: 1rem;
  border: 5px solid white;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
}

.infoBox {
  @extend .box;
  background-color: $secondary-color;
}

.smallText {
  font-size: 14px;
  margin: 0.5rem 0 2rem;
}

.questions {
  color: white;
  background-color: $base-color;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: white;
    color: $secondary-color;
    border-color: $base-color;
  }
}

.question {
  @extend .paragraph;
  border-bottom: 1px solid $secondary-color;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  margin-top: 0;
  margin-bottom: 0;
  // padding-top: 0.25rem;
  // padding-bottom: 0.25rem;
}

.lastQuestion {
  @extend .questions;
  border-bottom-left-radius: 8.5px;
  border-bottom-right-radius: 8.5px;
  border-bottom: none;
  // margin-bottom: 0.5rem;
}

.answer {
  @extend .paragraph;
  margin-bottom: 0;
  padding-bottom: 2rem;
  z-index: -1;
}

.registerButton {
  margin: 1rem;
  width: 9rem;
  height: 3rem;
  font-family: inherit;
  font-weight: bold;
  color: white;
  font-size: 25px;
  background-color: $secondary-color;
  box-shadow: none;
  border: 3px solid $secondary-color;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: white;
    color: $secondary-color;
  }
}

.down {
  @extend .highlight;

  position: fixed;
  bottom: 5vw;
  left: 50vw;
  z-index: 2;
  border-radius: 1rem;
}

@media only screen and (max-width: 1000px) {
  .form {
    margin: 2rem $half-width 0;
  }
}
