.footerdiv {
  text-align: center;
  font-family: Orbitron, sans-serif;
}

// stuff

.footer {
  background-image: url("../public/footer.gif");
  padding: 2% 5%;
}

.footera {
  text-decoration: none;
  color: white;
  font-family: Orbitron, sans-serif;
}

.footerimage {
  margin: 20px 10px;
  font-size: 3rem;
  transition: all 0.3s ease-out;
  background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(210,8,89,1) 50%, rgba(0,0,0,1) 85%);
}

.footerimage:hover {
  transform: scale(1.2);
}

.linkscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  margin: 0 10px;
  color: white;
}

.viewfooter {
  font-size: 1.8rem;
  color: white;
  background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(210,8,89,1) 50%, rgba(0,0,0,1) 85%);
}

.viewfooter:hover {
  color: #f06;
}

.footercopy {
  font-size: .8rem;
  color: white;
}

.privacy {
  text-decoration: none;
  color: white;
  font-family: Orbitron, sans-serif;
  color: white;
  transition: all 0.3s ease-out;
  background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(210,8,89,1) 50%, rgba(0,0,0,1) 85%);
}

.privacy:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #f06;
  background-color: white;
  transform: translateY(-5px);
}

.i:hover {
  background-color: white;
}