@import '../styles/_library.scss';

.left {
    // margin-left: 1rem;
    background-color: transparent;
    // height: 1.5rem;
    // width: 1.5rem;
    border: none;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.right {
    @extend .left;
    // margin-right: 1rem;
}

.icon {
    // margin: 1rem;
}