/* Saturn.module.scss */
.saturnContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .saturnImage {
    width: 100px; /* Adjust the width based on your design */
    height: auto;
  }
  