// Sponsors.module.scss

@import '../pages/index.module.scss';
@import './comps.module.scss';
@import '../styles/_library.scss';

@font-face {
  font-family: 'Sentex';
  src: url('/fonts/Sentex.ttf') format('truetype');
}

@font-face {
  font-family: 'GlitchFont';
  src: url('/fonts/glitch.ttf') format('truetype');
}


.displayBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  margin: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  image-rendering: crisp-edges;
}






// .logoWrapper {
//   margin: 3rem 3em 3rem;
//   background-image: url(../public/redCubes.gif);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   border-radius: 16px;
// }


.logoWrapper {
  margin: 3rem 3em 3rem;
  /* Add a solid background color */
  background-color: rgba(0, 0, 0, 0.5); /* You can adjust the alpha value (0 to 1) to control the opacity */

  /* Apply the blur effect */
  backdrop-filter: blur(8px); /* You can adjust the blur radius as needed */

  /* Optional: add a solid fallback background color for older browsers */
  background-color: rgba(0, 0, 0, 0.5);
  /* Remove the background image */
  background-image: none;

  /* Apply the rest of the styles */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}





.sponsorsTitle {
  font-size: 5rem;
  font-family: 'Orbitron';
  text-align: center;
  justify-content: center;
  text-shadow : -10px -10px 2px black;

}

.sponsorsWrapper {
  min-height: 100vh;
  justify-content: center;
}

.displayBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
.logoWrapper {
  margin: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  filter: none;
}

.logo:hover {
  // box-shadow: 0 0 10px 5px rgba(31, 31, 31, 0.5);
  border-radius: 6px;
  filter: none;
}

@media only screen and (max-width: 1000px) {
  .displayBox {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .sponsorsTitle {
    font-size: 2rem;
    text-align: center;
  }
}


