@import '../pages/index.module.scss';
@import './comps.module.scss';
@import '../styles/_library.scss';

$width: 7rem;

.card {
    @extend .highlight;
    width: $width;
    margin: 1rem 0.5rem 1rem;
    flex: 1.5;
    text-align: center;
    padding: 0.25rem;
    border-radius: 8px;
}

.name {
    margin: 0.25rem;
}

.desc {
    margin: 0.25rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamTitle {
    @extend .title;
    border: 4px solid white;

}
