@import '../styles/library';

.title {
    display: flex;
    background-color: #000000;
    flex-direction: column;
    color: white;
    margin: 1rem $full-width 1rem;
    border: 4px solid white;
    border-radius: 15px;
    width: 50%;
    // transform: translateZ(5px) scale(1);
}

.titleText {
    margin: 1rem;
    font-family: Orbitron;
}

.faq {
    @extend .titleText;
}

.titleSecondary {
    @extend .title;
    background-color: white;
    color: $secondary-color;
    margin: 0.25rem $full-width 0.25rem;
    justify-content: center;
    width: 50%;

}

.paragraph {
    margin: 0.5rem 1rem 0.5rem;
}

.flex {
    display: flex;
}

.dark {
    background-color: $base-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mlh {
    margin-left: 5rem;
}

.circle,
.rect,
.line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.wrapper {
    // margin-bottom: 0;
    // text-align: center;
    // flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.foreground {
    position: absolute;
    height: 110%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.frontTitle {
    font-size: 5rem;
    z-index: -1;
    font-family: Orbitron;
    transform: translateZ(-25px) scale(3);
    margin-top: -0.7rem;
    // color: rgb(255, 0, 81);
    // color: $secondary-color;
    // background-color: white;
    // text-shadow : 10px 10px 0px rgb(250, 114, 104);
    text-shadow : -10px -10px 2px black;


    // Pixelation animation
    animation: pixelate 1s ease-in-out;


    @keyframes pixelate {
      0% {
        filter: blur(8px);
        opacity: 0;
      }
      50% {
        filter: blur(4px);
        opacity: 0.7;
      }
      100% {
        filter: none;
        opacity: 1;
      }
    }
  }

.bottomTitle {
    // @extend .foreground;
    font-size: 3rem;
    z-index: -1;
    font-family: Orbitron;
    transform: translateZ(-25px) scale(3.5);
}

.l1 {
    @extend .foreground;
    transform: translateZ(-15px) scale(2.5);
}
.l2 {
    @extend .foreground;
    transform: translateZ(-10px) scale(2);
}
.l3 {
    @extend .foreground;
    transform: translateZ(-5px) scale(1.5);
}
.l4 {
    @extend .foreground;
    // transform: translateZ(-5px) scale(1.5);
}
.building {
    position: absolute;
    top: -80vh;
    left: 50vh;
    margin-left: -250px;
    transform: translateZ(-35px) scale(5);
}
.credit {
    position: fixed;
    top: 92vh;
    left: 85vw;
    font-size: 11px;
}

.svg {
    @extend .foreground;
    transform: translateZ(-40px) scale(5);
}

.content {
    margin: 0;
    background-color: #000000;
    justify-content: center;
    margin-top: -1px;
    z-index: 0;    // border-top: 3px solid white;
    // border-bottom: 3px solid white;
}

.secondaryContent {
    @extend .content;
    // background-color: $bottom-parallax;
}

.tertiaryContent {
    @extend .content;
    // background-color: #FA7268;

}

.highlight {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &:hover {
        background-color: white;
        color: $secondary-color;
        // border-color: white;
    }
}

.sponsors {
    @extend .content;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/endless-constellation.svg");
    background-position: center;
    background-size: cover;
}

.planet1 {
    position: absolute;
    z-index: -1;
    z-index: 0;
    left: 15vw;
    top: 130vh;
    transform: translateZ(3px) scale(1);
    // top: ;
}
.planet2 {
    @extend .planet1;
    left: 70vw;
    top: 60vh;
    transform: translateZ(4px) scale(1);
    // top: ;
}
.planet3 {
    @extend .planet1;
    left: 17vw;
    top: 90vh;
    transform: translateZ(2px) scale(1);
    // top: ;
}
.planet4 {
    @extend .planet1;
    left: 65vw;
    top: 10vh;
    transform: translateZ(3px) scale(1);
}

.parallax {
    position: relative;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.transition {
    position: fixed;
    z-index: 1;
    left: -0.1vh;
    width: 100%;
    margin-top: -1px;
}

.topspace {
    padding-top: 10rem;
}
// .sponsors {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     transform-style: preserve-3d;
//     z-index: -1;
// }

@media only screen and (max-width: 1400px) {
    .title {
        margin: 1rem $half-width 1rem;
        width: 75%;
    }

    .titleSecondary {
        margin: 0.5rem $half-width 0.5rem;
    }

    .sponsors {
        flex-direction: column;
    }
}


@media only screen and (max-width: 1000px) {
    .title {
        margin: 1rem $half-width 1rem;
        width: 100%;
    }

    .titleSecondary {
        margin: 0.5rem $half-width 0.5rem;
    }

    .sponsors {
        flex-direction: column;
    }

    .building {
        top: 8vh;
        transform: translateZ(-35px) scale(5);
    }

    .planet1 {
        left: -1000vw;
    }
}

@media only screen and (max-width: 600px) {
    .frontTitle {
        font-size: 2rem;
        position: fixed;
        top: 59%;
        transform: translateZ(-25px) scale(3);
    }
    .building {
        top: 40vh;
        left: 35vw;
        transform: translateZ(-35px) scale(5);
    }
}

