@import '../styles/library';

.title {
    display: flex;
    background-color: #02025e;
    flex-direction: column;
    color: white;
    margin: 1rem $full-width 1rem;
    // border: 4px solid $border-color;
    border-radius: 15px;
}

.titleText {
    margin: 1rem;
    font-family: Orbitron;
}

.titleSecondary {
    @extend .title;
    background-color: white;
    color: $secondary-color;
    margin: 0.25rem $full-width 0.25rem;

}

.paragraph {
    margin: 0.5rem 1rem 0.5rem;
}

.flex {
    display: flex;
}

.dark {
    background-color: $base-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mlh {
    margin-left: 5rem;
}

.circle,
.rect,
.line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.wrapper {
    // margin-bottom: 0;
    // text-align: center;
    // flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

}

.foreground {
    position: absolute;
    height: 110%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.frontTitle {
    // @extend .foreground;
    font-size: 5rem;
    z-index: -1;
    font-family: Orbitron;
    transform: translateZ(-25px) scale(3.5);
}

.bottomTitle {
    // @extend .foreground;
    font-size: 3rem;
    z-index: -1;
    font-family: Orbitron;
    transform: translateZ(-25px) scale(3.5);
}

.l1 {
    @extend .foreground;
    transform: translateZ(-20px) scale(3);
}
.l2 {
    @extend .foreground;
    transform: translateZ(-15px) scale(2.5);
}
.l3 {
    @extend .foreground;
    transform: translateZ(-10px) scale(2);
}
.l4 {
    @extend .foreground;
    transform: translateZ(-5px) scale(1.5);
}

.svg {
    @extend .foreground;
    transform: translateZ(-25px) scale(3.5);
}

.content {
    margin: 0;
    background-color: #330033;
    // border-top: 3px solid white;
    // border-bottom: 3px solid white;
}

.secondaryContent {
    @extend .content;
    // background-color: $bottom-parallax;
}

.tertiaryContent {
    @extend .content;
    // background-color: #FA7268;

}

.sponsors {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}


@media only screen and (max-width: 1000px) {
    .title {
        margin: 1rem $half-width 1rem;
    }

    .titleSecondary {
        margin: 0.5rem $half-width 0.5rem;
    }
}

