@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import './library.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/endless-constellation.svg");
  font-size: 1.15rem;
  overflow-x: hidden;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  // border: 4px solid $border-color;
}

section {
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: white;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//   }
// }